@model CreateViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelper

<h2>Добавление задачи</h2>
<br />
<form asp-action="create" asp-controller="home">
    @if (Model.IsInvalid)
    {
        <div class="alert alert-danger" role="alert">
            Заполните необходимые поля:
            <div asp-validation-summary="All"></div>
        </div>
    }
    <p>
        <input type="text" class="form-control" placeholder="Условие задачи" asp-for="ProgrammingTask.Description" />
    </p>
    <p>
        <textarea rows="1" class="form-control" placeholder="Код решения (данное поле многострочное, также код первого уровня автоматически обертывается в метод Console.Writeline())" asp-for="ProgrammingTask.Code" id="textarea-id"></textarea>
    </p>
    <p>
        <input type="text" class="form-control" placeholder="Результат (только для задач уровня Level 1)" asp-for="ProgrammingTask.Result" />
    </p>
    <p>
        <select class="form-control" id=diff asp-for="ProgrammingTask.DifficultyId" asp-items="Model.Difficulties"></select>
    <p>
    <p>
        <select class="form-control" asp-for="ProgrammingTask.LanguageId" asp-items="Model.Languages"></select>
    </p>
    <p>
        <input class="btn btn-outline-dark" type="submit" value="Добавить" />
    </p>
</form>