@model ProgrammingTask

<h2>Редактирование задачи</h2>
<br />
<form asp-action="edit" asp-controller="home">
    @if (ViewBag.isFailedToValid is not null && ViewBag.isFailedToValid)
    {
        <div class="alert alert-danger" role="alert">
            Заполните необходимые поля:
            <div asp-validation-summary="All"></div>
        </div>
    }
    <p>
        <input type="hidden" asp-for="Id" />
    </p>
    <p>
        <input type="text" class="form-control" placeholder="Условие задачи" asp-for="Description" />
    </p>
    <p>
        <textarea rows="1" class="form-control" placeholder="Код решения (данное поле многострочное, также код первого уровня автоматически обертывается в метод Console.Writeline())" asp-for="Code" id="textarea-id"></textarea>
    </p>
    <p>
        <input type="text" class="form-control" placeholder="Результат (только для задач уровня Level 1)" asp-for="Result" />
    </p>
    <p>
        <select class="form-control" asp-for="DifficultyId" asp-items="ViewBag.Difficulties"></select>
    <p>
    <p>
        <select class="form-control" asp-for="LanguageId" asp-items="ViewBag.Languages"></select>
    </p>
    <p>
        <input class="btn btn-outline-dark" type="submit" value="Подтвердить" />
    </p>
</form>