@model EditViewModel

<h2>Редактирование задачи</h2>
<br />
<form asp-action="edit" asp-controller="home">
    @if(Model.IsInvalid)
    {
        <div class="alert alert-danger" role="alert">
            Заполните необходимые поля
        </div>
    }
    <p>
        <input type="hidden" asp-for="ProgrammingTask.Id" />
    </p>
    <p>
        <input type="text" class="form-control" placeholder="Условие задачи" asp-for="ProgrammingTask.Description" />
    </p>
    <p>
        <textarea rows="1" class="form-control" placeholder="Код решения (данное поле многострочное, также код первого уровня автоматически обертывается в метод Console.Writeline())" asp-for="ProgrammingTask.Code" id="textarea-id"></textarea>
    </p>
    <p>
        <input type="text" class="form-control" placeholder="Результат (только для задач уровня Level 1)" asp-for="ProgrammingTask.Result" />
    </p>
    <p>
        <select class="form-control" asp-for="ProgrammingTask.DifficultyId" asp-items="Model.Difficulties"></select>
    <p>
    <p>
        <select class="form-control" asp-for="ProgrammingTask.LanguageId" asp-items="Model.Languages"></select>
    </p>
    <p>
        <input class="btn btn-outline-dark" type="submit" value="Подтвердить" />
    </p>
</form>